name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - name: Install watchexec
        run: |
          wget https://github.com/watchexec/watchexec/releases/latest/download/watchexec-latest-x86_64-unknown-linux-musl.tar.xz
          tar xf watchexec-latest-x86_64-unknown-linux-musl.tar.xz
          sudo mv watchexec-*-x86_64-unknown-linux-musl/watchexec /usr/local/bin/
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
